{% extends 'base.html' %}

{% block body_reference %}
        <div class="container">
        <div class="mt-5 mb-5" style="text-align: center;font-size: 24px;color: orange">
            Forget Password
        </div>
        <div class="row justify-content-md-center">
        <div class="col-md-4">
            <form method="post" action="{% url 'reset_password' email_active_code=user.email_active_code %}">
                {% csrf_token %}
                {{ change_password_form.password }}
                {{ change_password_form.password.error_messages }}

                {{ change_password_form.confirm_password }}
                {{ change_password_form.confirm_password.error_messages }}


                <button class="btn btn-primary mt-2 col-md-12" type="submit">send</button>
            </form>
        </div>
    </div>

    </div>

{% endblock %}