{% extends 'base.html' %}
{% load static %}
{% block stylesheet_refrence %}
  <link rel="stylesheet" href="{% static 'users.css' %}" >
{% endblock %}
{% block body_reference %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <table class="table">
          <thead>
            <tr>

              <th scope="col">Name</th>
              <th scope="col">Family</th>
              <th scope="col">Type</th>
            </tr>
          </thead>
          <tbody>
        {% for user in users %}
              <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.family }}</td>
                <td>
                  {% if user.userType == 1 %}
                    User
                  {% elif user.userType == 2 %}
                    Group Admin
                  {% else %}
                    Admin
                  {% endif %}
                </td>
              </tr>
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5"></div>
       <div class="col-md-2" style="text-align: center">
        <ul class="pagination" style="color: black;padding: 2px;">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">pre</a></li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li><a class="{% if page_obj.number == page %} active {% endif %}" href="?page={{ page }}">{{ page }}</a></li>
      {% endfor %}

       {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">next</a></li>
      {% endif %}

    </ul>
    </div>

    </div>

  </div>
{% endblock %}